.container {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-lg) auto;

  max-width: 400px;
}

.label {
  color: var(--color-text--700);
  font-size: var(--font-size-xs);
}

.input {
  margin-top: var(--spacing-xs);
}

.btn {
  composes: btn from global;

  margin-top: var(--spacing-sm);
}
