.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 var(--spacing-md);
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 95%);
  }
  100% {
    background-color: hsl(200, 20%, 90%);
  }
}
